.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  /*overflow-y: auto;*/
  /*padding-bottom: 2.4rem;*/
  /*padding-top: 2.4rem;*/
  position: absolute;
  right: 0;
  top: 100%;
  min-height: 409px;
  border-top: 1px solid #B3B3B3;
  z-index: 99;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}
/* 
.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
} */

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
  display: flex;
  justify-content: space-between;
}
.right_side_image {
  max-width: 450px;
  line-height: 0;
  border-left: 1px solid #B3B3B3;
}
.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
  background:#F4F5EF;
}
.mega-menu.active .mega-menu__content{
  opacity: 1;
  transform: translateY(0);
}
.mega-menu__list {
  display: grid;
  gap: 2.4rem 4rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link--level-2 {
  font-size: 1.4rem;
}
.mega-menu__link {
  color: #0A3422;
  display: block;
  font-family: 'Ginto';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 52px;
  letter-spacing: -0.02em;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
  text-decoration: none;
}


.mega-menu__link--level-2:not(:only-child) {
  margin-bottom: 0.8rem;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}
li.collection_menu {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  align-content: center;
  margin-bottom:16px;
}
li.collection_menu sup {
  position: relative;
  top: -41px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Neue';
  font-size: 14.25px;
  line-height: 17px;
}
li.collection_menu a{
  margin-bottom:0 !important;
  font-size:48px;
}
li.collection_menu img{
  width: 50px;
  vertical-align: bottom;
}
/*.mega-menu__link:hover,*/
/*.mega-menu__link--active {*/
/*  color: rgb(var(--color-foreground));*/
/*  text-decoration: underline;*/
/*}*/

/*.mega-menu__link--active:hover {*/
/*  text-decoration-thickness: 0.2rem;*/
/*}*/
li.menu_all_link {
  position: absolute;
  bottom: 15px;
}
li.menu_all_link a{
  color: #0A3422;
  display: block;
  font-family: 'Ginto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
  text-decoration: none;
}





.mega-menu .mega-menu__list--condensed {
  display: block;
  width: 100%;
  max-width: 415px;
  margin-left: 0;
  position: relative;
  border-right: 1px solid #B3B3B3;
  padding-left: 30px;
  padding-right: 0;
  padding-top: 22px;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.right_side_image .img-box img{
  max-height: 409px;
  object-fit: cover;
}