.heading-content-link-two-section .heading-content-link-two {
    padding: 20px 30px;
}

.heading-content-link-two-section .heading-content-link-two .left-content h2 {
    font-family: 'Ginto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #0A3422;
}

.heading-content-link-two-section .heading-content-link-two .center-content {
    padding-right: 30px;
}

.heading-content-link-two-section .heading-content-link-two .center-content p {
    font-family: 'Domaine Text';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: #0A3422;
    margin-top: 12px;
}

.heading-content-link-two-section .heading-content-link-two .center-content span {
    font-family: 'Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #0A3422;
}

.heading-content-link-two-section .heading-content-link-two .center-content span a {
    font-family: 'Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #0A3422;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

.col-8 {
    max-width: 66.66%;
    flex: 0 0 66.66%;
}

.col-4 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-2 {
    max-width: 16.66%;
    flex: 0 0 16.66%;
}

.col-1 {
    max-width: 8.33%;
    flex: 0 0 8.33%;
}

@media only screen and (max-width:768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-6,
    .col-8,
    .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .heading-content-link-two-section .heading-content-link-two {
        padding: 0 15px;
    }

    .heading-content-link-two-section .heading-content-link-two .center-content {
        padding-bottom: 20px;
    }

    .heading-content-link-two-section .heading-content-link-two .left-content h2 {
        font-size: 19px;
    }

    .heading-content-link-two-section .heading-content-link-two .center-content p {
        font-size: 17px;
    }

    .heading-content-link-two-section .heading-content-link-two .center-content span {
        font-size: 14px;
    }
}