.article main#MainContent {
    margin-top: -85px;
}
.high-praise-section {
    background-color: #CBEDD0;
}

.high-praise-section .high-praise {
    padding: 10px 0;
}

.high-praise-section .high-praise-img {
    text-align: center;
}

.high-praise-section .text-content h1 {
    font-family: 'Ginto';
    font-style: normal;
    font-weight: 700;
    font-size: 184px;
    line-height: 262px;
    letter-spacing: -0.04em;
    color: #0A3422;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.high-praise-section .text-content h2 {
    font-family: 'Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 101%;
    letter-spacing: -0.02em;
    color: #0A3422;
    text-align: left;
    width: 80%;
    padding-left: 26px;
}

.article-version-3 .header__menu-item span,
.article-version-3 .mega-menu__content a {
    color: #0A3422;
}

.article-version-3 .header__menu-item .icon path {
    fill: #0A3432;
}

.article-version-3 .header__icon span,
.article-version-3 div .header__icon {
    color: #0A3422;
}

@media only screen and (max-width:768px) {
    .high-praise-section .high-praise {
        padding: 5px;
    }

    .high-praise-section .text-content h1 {
        margin-top: 90px;
        font-size: 97px;
        line-height: 95px;
    }

    .high-praise-section .text-content h2 {
        font-size: 31px;
        line-height: 110%;
        width: 100%;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .high-praise-section .text-content h2{
        max-width: 1077px;
    }
}