.Subscribe_CTA main#MainContent {
    margin-top: -85px;
    overflow: hidden;
}

.newsletter-section .newsletter-div {
    position: relative;
    width: 100%;
    height: auto;
    height: 812px;
    background: #CBEDD0;
}

.newsletter-section .newsletter-form-div h1 {
    font-family: 'Ginto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #0A3422;
    margin-bottom: 50px;
}

.newsletter-section .newsletter-form-div p {
    font-family: 'Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #585858;
}

.newsletter-section .newsletter-form-div {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    width: 25%;
}

.newsletter-section .newsletter-form-div input {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border: 1px solid #585858;
    margin: 10px 0;
    border-radius: 4px;
    font-family: 'Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #585858;
    margin-bottom: 0;
}

.newsletter-section .newsletter-form-div button {
    width: 100%;
    padding: 15px;
    background-color: #0A3422;
    border: 1px solid #0A3422;
    margin: 10px 0;
    border-radius: 4px;
    font-family: 'Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F4F5EF;
    cursor: pointer;
}

.newsletter-section .newsletter-form-div input::placeholder {
    color: #585858;
    opacity: 1;
}

.newsletter-section .newsletter-form-div input:focus {
    box-shadow: 0 0 0 0 !important;
    border: 1px solid #585858;
    outline: none;
}

.Subscribe_CTA .header__menu-item span,
.Subscribe_CTA .mega-menu__content a {
    color: #000;
}

.header__menu-item .icon path {
    fill: #000;
}

.header__icon span,
div .header__icon {
    color: #000;
}

@media only screen and (min-width:992px) and (max-width:1280px) {
    .newsletter-section .newsletter-form-div {
        width: 30%;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .newsletter-section .newsletter-form-div {
        width: 40%;
    }
}

@media only screen and (max-width:768px) {

    .newsletter-section .newsletter-form-div h1 {
        font-size: 24px;
    }

    .newsletter-section .newsletter-form-div {
        width: 100%;
        top: 30%;
        padding: 0 20px;
    }
}