
@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
.card--media .card__inner .card__content{
  padding:0;
}
.card__badge {
  align-self: flex-start;
  grid-row-start: 1;
  justify-self: flex-start;
  width: 100%;
  height:30px;
  overflow: hidden;
  position: relative;
}
.card__badge span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: transparent;
  border: 0;
  padding: 5px 0;
  color: #0A3422;
  text-transform: uppercase;
  font-family: 'Ginto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.collection__title.title-wrapper{
  margin-bottom:75px;
}
.collection__title.title-wrapper .h0{
  font-family:'Ginto';
  color:#1E3538;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
  margin:0;
  letter-spacing: -0.04em;
}

slider-component:not(.slider-component-desktop) .grid{
  column-gap: 40px;
}
@media screen and (min-width:768px){
  slider-component:not(.slider-component-desktop) .grid--3-col-desktop .grid__item {
    width: calc(32.33% - 40px * 2 / 3);
    max-width: calc(33.33% - 40px * 2 / 3);
  }
}
slider-component .product-card-wrapper .card__content .card__information{
  display:flex;
  justify-content:space-between;
}
slider-component .product-card-wrapper .card__content .card__information .card-information{
  width:50%;
  text-align:right;
}
@media Screen and (max-width:767px){
  slider-component .product-card-wrapper .card__content .card__information .card-information{
    width:auto;
    text-align:left;
  }
}
slider-component .product-card-wrapper .card__information .card__heading,
slider-component .product-card-wrapper .card__information .price-item {
  font-family: "Neue";
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #0A3422;
}

slider-component .product-card-wrapper .card__information .card__heading{
  font-weight: 500;
  padding-right:30px;
}
slider-component .caption-with-letter-spacing{
  font-family:'Neue';
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #0A3422;
  text-transform: capitalize;
}

slider-component .product-card-wrapper .card__information .price,.card-information>*:not(.visually-hidden:first-child)+*:not(.rating){
  margin:0;
  margin-top:0;
}
/*slider-component .quick-add {*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  bottom: 0;*/
/*  left: 15px;*/
/*  right: 15px;*/
/*  visibility: hidden;*/
/*  transition: visibility .2s ease-in-out;*/
/*}*/
/*slider-component .quick-add .quick-add__submit{*/
/*  background: #F4F5EF;*/
/*  border-radius: 4px;*/
/*  color: #1C1D1C;*/
/*  font-weight: 500;*/
/*  font-size: 15px;*/
/*  line-height: 20px;*/
/*  letter-spacing: 0.02em;*/
/*  --border-offset:none;*/
/*}*/
/*slider-component li:hover .quick-add {*/
/*  visibility: visible;*/

/*}*/
@media screen and (max-width: 749px) {
  slider-component .caption-with-letter-spacing{
    font-size: 14px;
    line-height: 18px;
  }
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .collection__title.title-wrapper .h0 {
    font-weight: 700;
    font-size: 38.7556px;
    line-height: 100%;
  }
  slider-component ul li .product-card-wrapper .card__information .card__heading{
    width:50%;
  }
  slider-component ul li .product-card-wrapper .card__information .card__heading,
  slider-component ul li .product-card-wrapper .card__information .price-item {
    font-size: 16px;
    padding:0;

  }
  slider-component ul li:not(:nth-child(1)) .product-card-wrapper .card__information .card__heading{
    width:100%;
  }
  slider-component ul li:not(:nth-child(1)) .product-card-wrapper .card__information .card__heading,
  slider-component ul li:not(:nth-child(1)) .product-card-wrapper .card__information .price-item {
    font-size: 14px;
    line-height: 20px;
  }
  slider-component ul li:not(:nth-child(1)) .product-card-wrapper .card__information .price-item{
    font-weight:bold;
  }
  slider-component ul li:not(:nth-child(1)) .product-card-wrapper .card__information .card-information{
    margin-top:10px;
    text-align:left !important;
    width:100% !important;
  }
  slider-component ul li {
    width: auto;
    flex: 1 1 40%;
    margin-bottom: 50px;
  }
  slider-component ul li:nth-child(1) {
    flex: 1 1 100%;
    width: 100% !important;
    max-width: 100% !important;
  }
  slider-component ul li:not(:nth-child(1)) .product-card-wrapper .card__content .card__information{
    flex-wrap: wrap;
  }
  .collection__title.title-wrapper{
    margin-bottom:24px;
  }
}

ul#product-grid {
  justify-content: space-between;
  column-gap: 20px;
}